
@{
    ViewBag.Title = "HW2";
}

<h2>HW2</h2>

@Html.TextBox("email", "test@gmail.com")
@Html.Password("password", "123456")
@Html.CheckBox("isStuednt") 是否在學
@Html.RadioButton("isNew", "0") 新生
@Html.RadioButton("isNew", "1") 舊生
@Html.TextArea("about")